{% extends 'home.html' %}
{% block content %}
<main class="py-5">
    <div class="card card-body container" style="max-width: 20rem; border: 1px solid #000000;">
        <h1>Sign In</h1>
        {{ error }}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">
                Sign In
            </button>
            <a href="{% url 'signup' %}" class="btn btn-outline-primary">
                Sign Up
            </a>
        </form>
    </div>
</main>
{% endblock %}